################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs
/source/*/obj
/source/*/bin
/.vs
/source/TestResults
/source/*/appsettings.Development.json
/source/MNBEC.Database/MNBEC.Database.dbmdl
/source/MNBEC.Database/MNBEC.Database.jfm
/source/appsettings.Development.json
/-remote
/source/MNBEC.API.Dealer/BackgroundTasks/AuctionwishlistbackgroundTask.cs
/source/MNBEC.API.Notification.Test/SignalRClientTest.cs
/source/TestSIgnalR
/source/MNBEC.Database/.vs/slnx.sqlite
/source/MNBEC.Database/.vs/VSWorkspaceState.json
*.json
